@use "sass:map";
@import "./src/scss/variables";

$text-width-lg: 45rem;

.lead {
  align-items: center;
  text-align: center;

  &__title {
    font-size: map.get($font-size, xl);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      max-width: $text-width-lg;
      font-size: map.get($font-size, xxl);
    }
  }

  &__subtitle {
    @media (min-width: map.get($grid-breakpoints, lg)) {
      font-size: map.get($font-size, md);
    }
  }

  &__image-wrap {
    display: block;
    margin: 0;
  }

  &__caption {
    padding-left: map.get($spaces, xs);
    font-size: map.get($font-size, xxs);
    letter-spacing: 0.15em;
    text-align: left;
    text-transform: uppercase;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      padding-left: 0;
    }
  }
}
