@use "sass:map";
@import "./src/scss/variables";
@import "./src/scss/helpers";

$image-height-xs: 12.5rem;
$image-height-md: 30rem;
$image-height-lg: 40rem;
$image-height-xl: 46.25rem;

.cover {
  &__item {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: map.get($spaces, xs);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: $image-height-xs;
    padding: map.get($spaces, xs);
    background-image: url("../images/cover-trains.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;

    @media (min-width: map.get($grid-breakpoints, md)) {
      min-height: $image-height-md;
    }

    @media (min-width: map.get($grid-breakpoints, lg)) {
      min-height: $image-height-lg;
    }

    @media (min-width: map.get($grid-breakpoints, xl)) {
      min-height: $image-height-xl;
    }

    &::before {
      @extend %absolute-full-size;

      content: "";
      z-index: -1;
      background: map.get($theme-colors, "bg-color");
      opacity: 0.3;
    }
  }

  &__title {
    max-width: map.get($container-widths, xs);
    font-size: map.get($font-size, lg);

    @media (min-width: map.get($grid-breakpoints, xl)) {
      font-size: map.get($font-size, xl);
    }
  }

  &__subtitle {
    max-width: map.get($container-widths, sm);
  }
}
