@use "sass:map";
@import "./src/scss/variables";

$image-width: 17.5rem;

.photo-grid {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($image-width, 1fr));
    grid-gap: map.get($spaces, xs);
  }
}
