@use "sass:map";
@import "./src/scss/variables";

$image-min-width: 12.5rem;
$image-width-md: 27.5rem;
$image-width-lg: 28.75rem;

.place {
  display: grid;
  grid-template-areas: "title" "url" "image" "text";
  grid-template-columns: 1fr;
  grid-gap: map.get($spaces, xs);

  @media (min-width: map.get($grid-breakpoints, md)) {
    grid-template-areas: "title url" "image text";
    grid-template-columns: minmax($image-min-width, $image-width-md) 1fr;
    grid-gap: map.get($spaces, sm);
  }

  @media (min-width: map.get($grid-breakpoints, lg)) {
    grid-template-columns: minmax($image-min-width, $image-width-lg) 1fr;
  }

  &__title,
  &__website,
  &__description {
    padding: 0 map.get($spaces, xs);

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding: 0;
    }
  }

  &__title {
    grid-area: title;
    font-size: map.get($font-size, lg);
  }

  &__website {
    display: flex;
    flex-direction: column;
    grid-area: url;
  }

  &__url-heading {
    color: map.get($theme-colors, "text-secondary-color");
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__image {
    grid-area: image;
  }

  &__description {
    display: flex;
    flex-direction: column;
    grid-area: text;
    gap: map.get($spaces, xs);
  }
}
