.page {
  margin: 0;
  background-color: #2a2c2f;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 1184px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 20px;

    @media screen and (min-width: 425px) {
      padding: 34px 0 24px;
    }
  }

  &__header {
    width: 100%;
    margin: 0 auto;

    // TODO: Do mobile-first
    @media screen and (max-width: 1140px) {
      padding: 0 48px;
    }

    @media screen and (max-width: 984px) {
      padding: 0 24px;
    }

    @media screen and (max-width: 640px) {
      padding: 0 16px;
    }
  }

  &__content {
    margin-top: 58px;
    margin-bottom: 92px;

    // TODO: Do mobile-first
    @media screen and (max-width: 1140px) {
      margin-top: 50px;
    }

    @media screen and (max-width: 984px) {
      margin-bottom: 88px;
    }

    @media screen and (max-width: 568px) {
      margin-bottom: 64px;
    }
  }

  &__footer {
    width: 100%;

    // TODO: Do mobile-first
    @media screen and (max-width: 1140px) {
      padding: 0 48px;
    }

    @media screen and (max-width: 984px) {
      padding: 0 24px;
    }

    @media screen and (max-width: 640px) {
      padding: 0 16px;
    }
  }
}
