@use "sass:map";
@import "./src/scss/variables";

.footer {
  display: flex;
  align-items: center;

  &__copyright {
    font-size: map.get($font-size, xs);
  }

  &__author-link {
    margin-left: map.get($spaces, xxs);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
