.intro__text {
  margin: 40px 16px 34px;
}

@media screen and (min-width: 768px) {
  .intro__text {
    margin: 40px 24px 33px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    margin: 40px 0 33px;
    max-width: 690px;
  }
}
