.section-title {
  &_size_small {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;

    // TODO: Do mobile-first
    @media screen and (max-width: 640px) {
      font-size: 32px;
      line-height: 35px;
    }
  }

  &_size_medium {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

    // TODO: Do mobile-first
    @media screen and (max-width: 984px) {
      font-size: 42px;
      line-height: 46px;
    }

    @media screen and (max-width: 640px) {
      font-size: 32px;
      line-height: 35px;
    }
  }
}
