.cover__background {
  display: grid;
  gap: 16px;
  margin: 66px 0 64px;
  padding: 33px 0;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: inherit;
  text-decoration: none;
}

.cover__background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 1s ease;
}

@media screen and (min-width: 768px) {
  .cover__background {
    gap: 32px;
    margin: 90px 0 88px;
    padding: 115px 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__background {
    margin: 92px 0;
    padding: 195px 0;
  }

  .cover__background:hover:after {
    opacity: 0.8;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    margin: 92px 0;
    padding: 245px 0;
  }
}
