@use "sass:map";
@import "./src/scss/variables";

.intro {
  &__title {
    font-size: map.get($font-size, lg);
    line-height: map.get($line-height, sm);
    text-transform: uppercase;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      letter-spacing: 0.1em;
    }
  }

  &__text {
    max-width: map.get($container-widths, sm);
  }

  &__span-accent {
    margin-right: map.get($spaces, xxs);
    font-weight: map.get($font-weight, "bold");
  }
}
