$font-stack: inter, arial, sans-serif;
$theme-colors: (
  "bg-color": #2a2c2f,
  "text-primary-color": #fff,
  "text-secondary-color": #aaa,
);
$container-widths: (
  xs: 320px,
  sm: 690px,
  md: 720px,
  lg: 984px,
  xl: 1184px,
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1400px,
);
$spaces: (
  xxs: 0.5rem,
  xs: 1rem,
  sm: 3rem,
  md: 6rem,
  lg: 10rem,
  xl: 12rem,
  xxl: 15rem,
);
$font-size: (
  xxs: 0.625rem,
  xs: 1.125rem,
  sm: 1.5rem,
  md: 1.953rem,
  lg: 2.441rem,
  xl: 3.052rem,
  xxl: 6.375rem,
);
$font-weight: (
  "normal": 400,
  "bold": 700,
  "black": 900,
);
$line-height: (
  xs: 0.94,
  sm: 1.3,
  md: 1.39,
  lg: 1.75,
);
$transition-duration: 0.3s;
$opacity: 0.8;
