.page__container {
  min-width: 320px;
  max-width: 1184px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

@media screen and (min-width: 425px) {
  .page__container {
    padding: 34px 0 24px;
  }
}
