@use "sass:map";
@import "./src/scss/variables";

.content {
  display: flex;
  flex-direction: column;
  gap: map.get($spaces, xs);
  align-items: center;

  @media (min-width: map.get($grid-breakpoints, md)) {
    gap: map.get($spaces, md);
  }
}
