.intro__title {
  margin: 64px 16px 40px;
}

@media screen and (min-width: 768px) {
  .intro__title {
    margin: 88px 24px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    margin: 92px 0 40px;
    max-width: 690px;
  }
}
